<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>webring.wiki</title>

    <style>
        * {
            box-sizing: border-box;
        }

        html,
        body,
        .flex {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        html {
            font-size: 16px;
            font-family: sans-serif;
        }

        .container {
            padding: 16px 0;

            display: grid;
            grid-template-columns: 16px 740px 1fr;
        }

        @media ( max-width: 800px ) {
            .container {
                grid-template-columns: 16px 1fr 16px;
            }
        }

        .container > * {
            grid-column: 2;
        }

        .container > .pre-container {
            grid-column: 1 / -1;

            background: #efefef;
            padding: 16px;
            overflow-x: scroll;
        }

        .container > .pre-container > pre {
            margin: 0;
        }

        h1,
        h2,
        h3 {
            margin: 0.25em 0 0 0;
        }

        p {
            margin: 0.5em 0;
        }

        a {
            text-decoration: underline;
        }

        a, a:visited, a:active {
            color: #1D4ED8;
        }

        a:hover {
            text-decoration: none;
        }

        th, td {
           padding: 0.125em 1em 0.125em 0;
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>webring.wiki</h1>
        <p>
            webring.wiki is a <a href="https://en.wikipedia.org/wiki/Webring">webring</a>
            for people somehow involved with various wiki projects (including the
            Wikimedia projects).
        </p>

        <p>
            Powered by <a href="https://sr.ht/~amolith/go-webring/">go-webring</a>.
            The <a href="https://gitlab.wikimedia.org/taavi/webring.wiki">configuration</a>
            and <a href="/validation.log">validation log</a>
            are available.
        </p>

        <h2>Membership</h2>
        <p>
            webring.wiki is open for personal sites of people somehow
            involved in any community wiki projects. Sites that include
            any hate speech or other bigotry will not be accepted.
            Also, sites that are just trying to sell something will not
            be accepted either.
        </p>

        <h3>Joining</h3>
        <p>
            To join, you need to include links to this page, as well as
            the "previous" and "next" links on your page. For example:
        </p>

        <div class="pre-container">
<pre>
&lt;p&gt;
    &lt;a href=&quot;https://webring.wiki/previous?host=example.com&quot;&gt;&larr;&lt;/a&gt;
    &lt;a href=&quot;https://webring.wiki/&quot;&gt;webring.wiki&lt;/a&gt;
    &lt;a href=&quot;https://webring.wiki/next?host=example.com&quot;&gt;&rarr;&lt;/a&gt;
&lt;/p&gt;
</pre>
        </div>
        <p>
            That would result in this:
        </p>

        <p>
            <a href="https://webring.wiki/previous?host=example.com">←</a>
            <a href="https://webring.wiki/">webring.wiki</a>
            <a href="https://webring.wiki/next?host=example.com">→</a>
        </p>

        <p>
            Feel free to style those links however you want, it's fine
            as long as the links are there. Next, contact
            <a href="https://taavi.wtf">Taavi</a> to get yourself added
            to the configuration file.
        </p>

        <h2>Current members</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Site</th>
                    </tr>
                </thead>
                <tbody>
                    {{ . }}
                </tbody>
            </table>
        </div>

        <p>
            <small>
                A <a href="https://taavi.wtf">Taavi</a> project,
                hosted by <a href="https://majava.org">majava.org</a>.
            </small>
        </p>
    </div>
</body>
</html>
